.game-over-container {
    text-align: center;
    width: 500px;
    margin: auto;
}

h2 {
    font-family: Roost, Helvetica, Arial, sans-serif;
    color: #f15c24;
    font-weight: bold;
    font-size: 75px;
}