.new-player-form {
    margin-left: 80px;
}

input {
    border: none;
    border-bottom: 1px solid #111111;
    font-size: 25px;    
}

button span {
    font-size: 25px;    
}

.invalid {
    font-weight: bold;
}